
.header-img {
  background-image: url("/assets/images/headerImg.png"); 
  height: 130px;
  color: #fff;
  display: flex;
  margin-bottom: 15px;
  .title {
    font-size: 40px;
  }
  p{
    margin-bottom: 0;
  }
  p, div {
    margin-top: auto;
    margin-bottom: auto;
  }
  .mobile-menu{
    display: none;
  }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

@media only screen and (max-width: 600px) {
  .header-img {
    height: 70px;
    .title-container{
      width: 50%;
      .title {
        font-size: 40px;
      }
    }
    .sub-title  {
      display: none;
    }
    .mobile-menu {
      display: inline;
      width: 50%;
      text-align: right;
      a {
        color: #fff;
        i {
          margin: 0 5px;
        }
      }
    }
  }
}
