<div class="edit-contact">
    
    <div class="reservation-edit-header">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3 class="text-danger">Create Reservation</h3>
            </div>
            <div class="col-md-4 col-sm-12">
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
            </div>
            <div class="col-md-4 go-to-list">
                <a href="/" class="btn btn-secondary">Reservation List</a>
            </div>
        </div>
    </div>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <input [class]="{'invalid-form-control': name.invalid && (name.dirty || name.touched)}" type="text"
                        name="name" formControlName="name" placeholder="Contact Name" (keyup)="onKeyUp($event)">
                    <i class="far fa-user"></i>
                </div>
                <div>
                    <small *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">This field is
                        required</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <select
                        [class]="{'invalid-form-control': contactType.invalid && (contactType.dirty || contactType.touched)}"
                        class="form-control form-control-md" name="contactType" formControlName="contactType">
                        <option value="0" selected>Contact Type</option>
                        <option *ngFor="let option of contactTypes" value="{{option.value}}">{{option.name}}</option>
                    </select>
                    <i class="fas fa-globe"></i>
                </div>
                <div>
                    <small *ngIf="contactType.invalid && (contactType.dirty || contactType.touched)"
                        class="text-danger">This field is
                        required</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <input type="text" name="phoneNumber" formControlName="phoneNumber" placeholder="Phone">
                    <i class="fas fa-phone"></i>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <input
                        [class]="{'invalid-form-control': birthdate.invalid && (birthdate.dirty || birthdate.touched)}"
                        type="date" name="birthdate" formControlName="birthdate" placeholder="Birth Date">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div>
                    <small *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="text-danger">This
                        field is
                        required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ckeditor [editor]="Editor" (ready)="onEditorReady($event)" formControlName="editorData"
                    config={{editorConfig}} data=""></ckeditor>
                <div id="editor"></div>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-danger">Send</button>
                <a class="btn btn-secondary ml-2" href="/contact-list">Contact List</a>
            </div>
        </div>
    </form>
</div>