<div class="mb-5">
    <a class="btn btn-primary" href="/create-contact">Add Contact</a>
</div>
<div>
    <table id="contactTable" datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Contact Type</th>
            <th>Phone Number</th>
            <th>Birthdate</th>
            <th class="text-right">Options</th>
          </tr>
        </thead>
        <tbody *ngIf="contacts?.length != 0">
            <tr *ngFor="let contact of contacts">
                <td>{{ contact.name }}</td>
                <td>{{ contact.contactType }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>{{ contact.birthDate }}</td>
                <td class="text-right">
                    <button (click)="editContact(contact)"><i class="fas fa-edit"></i></button>
                    <button class="ml-2" (click)="deleteContact(contact, datatableElement)"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="contacts?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        <tbody>
      </table>
</div>